.tab-pane {
    -fx-background-color: #303030;
}

.tab-header-background {
    -fx-background-color: #303030;
}

.tab {
    -fx-background-color: #212121;
    -fx-text-base-color: white;
}

.tab:selected {
    -fx-background-color: #121212;
    -fx-border-color: #121212;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.tab:selected:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #121212;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab:hover {
    -fx-background-color: #121212;
}

.tab-header-area .tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.list-view {
    -fx-background-color: #303030;
    -fx-control-inner-background: #303030;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.list-cell:hover {
    -fx-background-color: #212121;
}


.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.root {
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.root .scroll-bar {
    -fx-background-color: transparent;
}

.root .scroll-bar .thumb {
    -fx-background-color: #212121;
    -fx-cursor: hand;
}

.root .scroll-bar .thumb:hover {
    -fx-background-color: #121212;
}

.root .scroll-bar .increment-button,
.root .scroll-bar .decrement-button {
    -fx-background-color: #212121;
    -fx-cursor: hand;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #212121;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #212121;
}

.scroll-bar {
    -fx-padding: 0;
}

.button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

#invalidLogin {
    -fx-text-fill: red;
}

#panel {
    -fx-background-color: #212121;
}

#register {
    -fx-font-size: 1em;
}

#register:hover {
    -fx-underline: true;
}

.label {
    -fx-text-fill: white;
}

.odds-button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.odds-button:hover {
    -fx-background-color: #121212;
    -fx-text-fill: white;
}

.odds-button:selected {
    -fx-background-color: #121212;
}

.bet-button {
    -fx-background-color: #56bf5c;
}

.bet-button:hover {
    -fx-background-color: #67c66d;
}

.dropdown-menu {
    -fx-background-color: #212121;
}

.dropdown-item {
    -fx-cursor: hand;
}

.dropdown-item:hover {
    -fx-background-color: #303030;
}

.dropdown-item:selected {
    -fx-background-color: #303030;
}

.dropdown-item:focused {
    -fx-background-color: #303030;
}

.tab-pane .tab-down-button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu {
 -fx-background-color: #212121;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:hover {
 -fx-background-color: #303030;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:selected {
    -fx-background-color: #303030;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:focused {
    -fx-background-color: #303030;
}

.creditCard{
    -fx-background-color: #212121;
    -fx-background-radius: 15px;

}

.cardPane {
    -fx-background-radius: 15px;
}

.cardInput {
    -fx-background-color: #303030;
}

.balanceLabel {
    -fx-font-size: 3em;
}

.recoverMail:hover {
    -fx-underline: true;
}

.profileButton {
    -fx-text-fill: white;
    -fx-background-color: #212121;
    -fx-cursor: hand;
}

.profileButton:hover {
    -fx-background-color: #121212;
    -fx-cursor: hand;
}

.mainMenuBar {
    -fx-background-color: #212121;
}


