.tab-pane {
    -fx-background-color: #f9f9f9;
}

.tab-header-background {
    -fx-background-color: #f9f9f9;
}

.tab {
    -fx-background-color: #d3d3d3;
    -fx-text-base-color: black;
}

.tab:selected {
    -fx-background-color: #b0b0b0;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.tab:selected:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab:hover {
    -fx-background-color: #a0a0a0;
}

.tab-header-area .tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.list-view {
    -fx-background-color: #f9f9f9;
    -fx-control-inner-background: #f9f9f9;
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.root {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: black;
}

.root .scroll-bar {
    -fx-background-color: transparent;
}

.root .scroll-bar .thumb {
    -fx-background-color: #a0a0a0;
    -fx-cursor: hand;
}

.root .scroll-bar .thumb:hover {
    -fx-background-color: #888888;
}

.root .scroll-bar .increment-button,
.root .scroll-bar .decrement-button {
    -fx-background-color: #a0a0a0;
    -fx-cursor: hand;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #a0a0a0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #a0a0a0;
}

.scroll-bar {
    -fx-padding: 0;
}

.button {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

#invalidLogin {
    -fx-text-fill: red;
}

#panel {
    -fx-background-color: #e0e0e0;
}

#register {
    -fx-font-size: 1em;
}

#register:hover {
    -fx-underline: true;
}

.label {
    -fx-text-fill: black;
}

.odds-button {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.odds-button:hover {
    -fx-background-color: #b0b0b0;
    -fx-text-fill: black;
}

.odds-button:selected {
    -fx-background-color: #b0b0b0;
}

.bet-button {
    -fx-background-color: #56bf5c;
}

.bet-button:hover {
    -fx-background-color: #67c66d;
}

.dropdown-menu {
    -fx-background-color: #d3d3d3;
}

.dropdown-item {
    -fx-cursor: hand;
}

.dropdown-item:hover {
    -fx-background-color: #e0e0e0;
}

.dropdown-item:selected {
    -fx-background-color: #e0e0e0;
}

.dropdown-item:focused {
    -fx-background-color: #e0e0e0;
}

.tab-pane .tab-down-button {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: black;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu {
    -fx-background-color: #d3d3d3;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:hover {
    -fx-background-color: #e0e0e0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:selected {
    -fx-background-color: #e0e0e0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button .context-menu .radio-menu-item:focused {
    -fx-background-color: #e0e0e0;
}

.creditCard {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 15px;
}

.cardPane {
    -fx-background-radius: 15px;
}

.cardInput {
    -fx-background-color: #f9f9f9;
}

.balanceLabel {
    -fx-font-size: 3em;
}

.recoverMail:hover {
    -fx-underline: true;
}

.profileButton {
    -fx-text-fill: black;
    -fx-background-color: #d3d3d3;
    -fx-cursor: hand;
}

.profileButton:hover {
    -fx-background-color: #b0b0b0;
    -fx-cursor: hand;
}

.mainMenuBar {
    -fx-background-color: #d3d3d3;
}
